html {
  font-size: 18px;
  line-height: 1.4rem;
}


/* Body Section */
body {
  font-family: Helvetica, sans-serif;
}

div {
  display: block;
}

.container {
  margin: auto;
  max-width: 960px;
}


/* Header Section */
header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center center;
  background-size: cover;
  padding-top: 1rem;
}

header nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

header li {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem 1rem 0;
  display: inline;
}

header .menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
  display: flex;
}

header .banner {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  padding: 3rem 5rem;
}


/* Services Section */
.services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  height: 8rem;
  width: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
}

.service img {
  width: 5rem;
}

.service img.paper {
  width: 3.5rem;
}

.service p {
  line-height: 1.4rem;
}


/* Info Section */
.info {
  display: flex;
  justify-content: center;
}

.item {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
  display: inline-block;
}

.title {
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.item p {
  padding-top: 1rem;
  display: block;
}


/* Footer Section */
footer {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}

footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}



/* Media Queries */

/* Tablet - Portrait */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  /* Nav Bar */
  header {
    padding-top: 0;
    height: 22rem;
  }

  /* Banner */
  header .banner {
    margin-top: 6rem;
    margin-right: 2rem;
  }

  header h1 {
    font-size: 1.33rem;
    padding: 1.5rem 4rem;
  }

  /* Footer */
  footer {
    margin-bottom: 5rem;
  }
}


/* Phone Screen*/
@media only screen and (max-width: 560px) {
  .container {
    width: 100%;
  }

  /* Nav Bar */
  header {
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
  }

  header #name {
    display: none;
  }

  header .list {
    display: none;
  }

  header .menu {
    display: flex;
    margin-right: 2rem;
  }

  /* Banner */
  header .banner {
    margin-top: 9rem;
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  header h1 {
    font-size: 1rem;
    padding: .75rem 0;
  }

  /* Services */
  .services {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 3.77rem 0;
  }

  .service {
    margin: 0;
    padding-bottom: 0.77rem;
    height: auto;
  }

  .service p {
    font-size: 0.77rem;
    margin: 0.77rem 0;
  }

  /* Info */
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .item {
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .title {
    max-width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .item p {
    font-size: 0.77rem;
    margin-left: 0.5rem;
  }

  /* Footer */
  footer {
    justify-content: center;
    
    /* WIDTH WAS TOO LARGE */
    box-sizing: border-box;
  }

  footer img {
    padding: 0;
  }

  footer #copyright {
    display: none;
  }
}
