html {
  font-size: 18px;
  line-height: 1.4rem;
}


/* Body Section */
body {
  font-family: Helvetica, sans-serif;
}

div {
  display: block;
}

.container {
  margin: 0 auto;
  width: 960px;
}


/* Header Section */
header {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center center;
  background-size: cover;
  padding-top: 1rem;
}

header nav {
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}

header .logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

header li {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem 1rem 0;
  display: inline;
}

header .flex {
  justify-content: flex-end;
  display: flex;
}

header .banner {
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
}

header h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  padding: 3rem 5rem;
}


/* Services Section */
.services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  height: 8rem;
  width: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
}

.service img {
  width: 5rem;
}

.service img.paper {
  width: 3.5rem;
}

.service p {
  line-height: 1.4rem;
}
